<h1>MHK Community Chest</h1>
<div id="card-container">
  <% boxes.forEach((box) => { %>
    <div class="card">
      <img alt="<%= box.name %> Location" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= box.lat %>,<%= box.lng %>&zoom=14&size=300x300&markers=color:0x6F009E%7C<%= box.lat %>,<%= box.lng %>&style=feature:road%7Ccolor:0xffffff%7Cvisibility:simplified&key=<%= GOOGLE_MAPS_API_KEY %>">
      <div class="content">
        <h2><a href="/box-details/<%= box.id %>"><%= box.name %></a></h2>
      </div>
    </div>
  <% }); %>
</div>