<!--<div>
  <img alt="<%= name %> Location" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= lat %>,<%= lng %>&zoom=14&size=300x300&markers=color:red%7C<%= lat %>,<%= lng %>&style=feature:road%7Ccolor:0xffffff%7Cvisibility:simplified&key=AIzaSyAqQhirQyUFzYzGTdVQVoJCNxqOyKjhdhw">
  <div class="content">
    <h2><%= name %></h2>
  </div>
</div>-->