<div class="card">
  <img alt="<%= box.name %> Location" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= box.lat %>,<%= box.lng %>&zoom=14&size=300x300&markers=color:red%7C<%= box.lat %>,<%= box.lng %>&style=feature:road%7Ccolor:0xffffff%7Cvisibility:simplified&key=AIzaSyAqQhirQyUFzYzGTdVQVoJCNxqOyKjhdhw">
  <div class="content">
    <h2><%= box.name %></h2>
  </div>
</div>

<div id="requests">
  <h2>Requests:</h2>
    <table id="request-table">
      <tr>
        <th>Request</th>
        <th>Fullfiled</th>
      </tr>
      <% requests.forEach((request) => { %>
        <tr>
          <td><%= request.request %></td>
          <td><%= request.fulfilled == 1 ? "Yes" : "No" %></td>
        </tr>
      <% }); %>
    </table>

  <%- requestForm %>
</div>