<div id="top-part-location">
  <a id="go-back-button" href="/">&lt;</a>
  <div class="card">
    <img alt="<%= box.name %> Location" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= box.lat %>,<%= box.lng %>&zoom=14&size=300x300&markers=color:0x6F009E%7C<%= box.lat %>,<%= box.lng %>&style=feature:road%7Ccolor:0xffffff%7Cvisibility:simplified&key=AIzaSyAqQhirQyUFzYzGTdVQVoJCNxqOyKjhdhw">
    <div class="content">
      <h2><%= box.name %></h2>
    </div>
  </div>
</div>

<div id="requests">
  <h2>Requests:</h2>
    <table id="request-table">
      <tr>
        <th>Request</th>
        <th>Fullfiled</th>
        <th></th>
      </tr>
      <% requests.forEach((request) => { %>
        <tr>
          <td><%= request.request %></td>
          <td><%= request.fulfilled == 1 ? "Yes" : "No" %></td>
          <td>
            <% if (request.fulfilled == 0) { %>
              <% if(locals.user) { %>
                <a class="button" href="/box-locations/<%= box.id %>/requests/<%= request.id %>/fulfill">Fulfill</a>
              <% } else { %>
                <a class="button" href="/signin">Sign In</a> or <a class="button" href="/signup">Sign Up</a> to fulfill requests
              <% } %>
            <% } else { %>
              Fulfilled
            <% } %>
          </td>
        </tr>
      <% }); %>
    </table>
  <% if(locals.user) { %>
    <%- requestForm %>
  <% } else { %>
    <h2>Want to add a request?</h2>
    <a class="button" href="/signin">Sign In</a> 
        or
    <a class="button" href="/signup">Sign Up</a>
  <% } %>
</div>